/* .article1{
    display: none;
}
.article2{
    display: none;
} */
.verborgen {
  display: none;
}

/* :is(form, fieldset, label, input):has(:user-valid) {
  border-color: green;
}

*:has(:user-invalid) {
  border-color: red;
} */

.invalid {
  border: 2px solid red;
}

.valid {
  border: 2px solid green;
}

/* #bsn-error-message {
  color: red;
  display: none;
} */
span[data-error] {
  display: none;
}

input:user-invalid + span[data-error] {
  display: block;
  color: red;
}
