:root {
  --donkerBlauw: #01689b;
  --hemelBlauw: #007bc7;
  --lichtBlauw: #8fcae7;
  --achtergrondGrijs: #eee;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
}

header img {
  width: 12rem; /* Breedte van de afbeelding */
  height: auto; /* Behoudt de aspect ratio van de afbeelding */
  margin: 0 auto; /* Centreert de afbeelding horizontaal */
  display: block; /* Maakt het mogelijk om automatische marges effectief toe te passen */
}

header p {
  background-color: var(--lichtBlauw);
  padding: 2rem;
}

main {
  padding: 1.5rem;
  background-color: var(--achtergrondGrijs);
}

main nav {
  margin-bottom: 1rem;
}

legend {
  background-color: var(--hemelBlauw);
  color: white;
  padding: 1rem;
}

h2 {
  /* border: none; */
  /* padding: 1rem; */
  margin-bottom: 1rem;
}

#start:checked {
  display: none;
}

/* #start:checked #eersteSectie {
  display: block;
} */

.vraagContainer p {
  /* border: none; */
  margin: 1rem 0 1rem 0;
}

fieldset {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  /* margin-right: 10rem; */
}

.vraag {
  background-color: whitesmoke;
  /* margin-right: 60rem; */
  /* display: flex; */
  /* flex-direction: column; */
}

.group {
  /* display: flex; */
  /* justify-content: space-between; */
}

label {
}

input {
  margin: 0.5rem 0 0.5rem 0;
}

.verborgen {
  display: none;
}

/* form,
fieldset,
label,
input:has(:user-valid) {
  border-color: green;
} */

fieldset:user-invalid {
  border-color: red;
}

fieldset:valid {
  border: solid 2px green;
}

.vraagContainer:nth-of-type(1):valid {
  border: solid 2px green;

  & a {
    background-color: blue;
  }
}

/* eerste sectie */
html:not(:has(fieldset:invalid)) ul li:first-of-type {
  background-color: green;
}

html:not(:has(#eersteSectie:invalid)) ul li:first-of-type {
  background-color: green;
}

/* eerste sectie */
html:not(:has(fieldset:nth-of-type(2) fieldset:invalid)) ul li:nth-of-type(2) {
  background-color: green;
}

html:not(:has(fieldset:nth-of-type(3) fieldset:invalid)) ul li:nth-of-type(3) {
  background-color: green;
}
/* .vraagContainer:valid {
  border: solid 2px purple;
} */

input:user-valid {
  border: solid green 2px;
}

input:user-invalid:not(:placeholder-shown) {
  border: solid red 2px;
}

/* html:has(
    section:first-of-type
      form:nth-of-type(1):valid
      + form:nth-of-type(2):valid
      + form:nth-of-type(3):valid
      + form:nth-of-type(4):valid
  )
  ul
  li:first-of-type {
  background-color: green;
} */

/* html:has(.vraagContainer:invalid) ul li:first-of-type {
  background-color: red;
} */

/* html:has(.vraagContainer:valid) ul li:first-of-type {
  background-color: purple;
} */

/* html:has(form:first-of-type:valid) ul li:first-of-type {
  background-color: orange;
} */

/* user invalid -> error */
/* html:has(section:first-of-type form:invalid) ul li:first-of-type {
  background-color: red;
} */

/* html:(:has(section:first-of-type div:invalid)) ul li:first-of-type {
  background-color: green;
} */

html:has(
    section:first-of-type
      div:nth-of-type(1):valid
      + div:nth-of-type(2):valid
      + div:nth-of-type(3):valid
      + div:nth-of-type(4):valid
  )
  .next {
  background-color: green;
}

html:has(
    section:first-of-type
      div:nth-of-type(1):valid
      + div:nth-of-type(2):valid
      + div:nth-of-type(3):valid
      + div:nth-of-type(4):valid
  )
  ul
  li:nth-of-type(1) {
  background-color: green;
}

/* html:has(section:nth-of-type(2) fieldset:nth-of-type(1):valid)
  ul
  li:nth-of-type(2) {
  background-color: green;

} */

/* html:has(section:nth-of-type(1) fieldset:nth-of-type(1):valid)
  ul
  li:nth-of-type(1) {
  background-color: green;
  /* display: block; 
*/

/* *:has(:user-invalid) {
  border-color: red;
} */

h1 {
  display: none;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  padding: 1rem;
  /* border: 2px solid black; */
  background-color: var(--hemelBlauw);
  color: white;
  margin-right: 1em;
}
a {
  color: white;
  text-decoration: none;
}

.invalid {
  border: 2px solid red;
}

.valid {
  border: 2px solid green;
}

/* #bsn-error-message {
  color: red;
  display: none;
} */
span[data-error] {
  display: none;
}

input:user-invalid:not(:placeholder-shown) + span[data-error] {
  display: block;
  color: red;
}

/* fieldset:valid {
  border-color: green;
} */

/* .vraagContainer {
  display: none;
} */

#eersteSectie {
  display: none;
}

#eersteSectie:target {
  display: block;
}

ul {
  display: none;
}

html:has(#eersteSectie:target) {
  article {
    display: none;
  }
  ul {
    display: flex;
  }
}

html:has(#tweedeSectie:target) {
  article {
    display: none;
  }
  ul {
    display: flex;
  }
}

html:has(#derdeSectie:target) {
  article {
    display: none;
  }
  ul {
    display: flex;
  }
}

html:has(#vierdeSectie:target) {
  article {
    display: none;
  }
  ul {
    display: flex;
  }
}

html:has(#vijfdeSectie:target) {
  article {
    display: none;
  }
  ul {
    display: flex;
  }
}

#buitenland {
  display: none;
}

#nederland {
  display: block;
}

html:has(input[name="adresInstelling"]:checked) #buitenland {
  display: block;
}

html:has(input[name="adresInstelling"]:checked) #nederland {
  display: none;
}

#tweedeSectie {
  display: none;
}

#tweedeSectie:target {
  display: block;
}

#derdeSectie {
  display: none;
}

#derdeSectie:target {
  display: block;
}

#vierdeSectie {
  display: none;
}

#vierdeSectie:target {
  display: block;
}

#vijfdeSectie {
  display: none;
}

#vijfdeSectie:target {
  display: block;
}

.verkrijger:not(:first-child) {
  display: none;
}

.hidden {
  display: none;
}

@media screen and (width < 600px) {
  input {
    /* width: 100%; */
  }
  label {
    width: 10rem;
    display: inline-block;
  }
}
